<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
      integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Add quote</title>
</head>
<body style="font-family: Verdana;font-size: small; padding: 0.3%">
    <div th:replace="main :: menu"></div>

    <p style=" margin-top:5%; text-align: center; font-size: 30px; font-style: normal">Add quote</p>
    <form action="#" th:action="@{/addQuote}" th:object="${newQuote}" method="post"
          class="pure-form pure-form-stacked" style="alignment: center">
        <fieldset>
            <div style="width: 25%; clear: both; position: relative; left: 37.5%">
                <label>Quote</label>
                <textarea style="width: 100%; height: 200px ;clear: both" type="text" th:field="*{body}"/>
                <span style="text-align: center" class="pure-form-message">Add quote without quotation marks.</span>
            </div>
            <span style=" left: 64%; top: 36%; position: absolute; color: darkred; font-style: italic; font-size: small" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">..</span>
            <div style="width: 25% ;clear: both; position: relative; left: 37.5%">
                <label>Author</label>
                <input style="width: 100%;clear: both"  type="text" th:field="*{author}"/><br>
                <button style=" width: 100%" class="pure-button" type="submit">Add quote</button>
            </div>
            <span style=" left: 64%; top: 59%; position: absolute; color: darkred; font-style: italic; font-size: small" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">..</span>
        </fieldset>
    </form>
    <span th:replace="main :: footer"></span>
</body>
</html>